src/main/mule/testcustomassertion.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="testcustomassertionFlow" doc:id="ced08674-3c4a-4784-a600-e31188b500c7" >
		<http:listener doc:name="Listener" doc:id="b9a9bc04-a161-448b-8fcd-a4f53cb63498" path="/test" config-ref="HTTP_Listener_config"/>
		<set-payload value="#['Hello World']" doc:name="Set Payload" doc:id="3fd44e0f-91bb-4df7-a452-52ad9ba957de" />
	</flow>
</mule>
