src/main/mule/testspyeventprocessor.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="testspyserviceFlow" doc:id="9ba34848-0d71-414f-b800-3b9876b509b8" >
		<http:listener doc:name="Listener" doc:id="9670f124-4752-4047-b423-74ba5cfce377" path="/test" config-ref="HTTP_Listener_config"/>
		<set-payload value='#["payload1"]' doc:name="Set Payload" doc:id="e3896240-426a-4f74-9f42-3695a5bd1d1c" />
		<set-variable value="#[attributes.queryString.name]" doc:name="Set Variable" doc:id="8d00cac7-5929-4ba9-94ed-cb127d70d174" variableName="new"/>
		<ee:transform doc:name="Transform Message" doc:id="1971391e-8366-4b0d-a07e-4413e4e33a80" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
 (payload as String ++ " dwl added") as String
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="bed82d51-568b-4080-9ee4-5feab91b700f" message="#[payload]"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="31115a8a-14a5-4500-81ee-a3433e27103a" >
				<logger level="INFO" doc:name="Logger" doc:id="4f795f57-3eba-47c6-a1d3-1ec3f3b0a97a" message="#['Error identified']"/>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
